<td class="item-artist">
    <button class="btn btn-default btn-xs table-button" id="btnRemove">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</td>
<td class="item-artist"><%= artist %></td>
<td class="item-album"><%= album %></td>
<td class="item-track"><%= track %></td>

<!-- TODO: this must be dynamic -->
<td class="item-title"><a href="http://192.168.15.103:9004/go<%= filename %>"><%= title %></a></td>
