<td class="item-artist click-to-play col-xs-4"><%= artist %></td>
<td class="item-album click-to-play col-xs-4"><%= album %></td>
<td class="item-track click-to-play"><%= track %></td>
<!-- TODO: this must be dynamic -->
<td class="item-title click-to-play col-xs-4"><a href="http://192.168.15.103:9004/go<%= filename %>"><%= title %></a></td>
<td>
    <button class="btn btn-default btn-xs table-button" id="btnRemove">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</td>

